
<div class="jumbotron">
  <p class="lead">Create your own squads of superheroes.</p>
  <br>
  <p><a href="/squads" class="btn btn-lg btn-primary">View Squad List</a></p>
  <p><a href="/squads/new" class="btn btn-lg btn-info">Add a New Squad</a></p>
</div>
