<!DOCTYPE html>
<html>
  <head>
    <title>Hero Squad</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Cookie|Lobster" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      <div class="header jumbotron-fluid">
        <a href="/"><h3 class="text-muted">The Hero Squad </h3></a>
      </div>
      #parse( $template )
    </div>
  </body>
</html>
